<div id="searchresults">
    @if (@ViewBag.TaskId != "N/A")
    {
        <h1>Задача з номером @ViewBag.TaskId була успішно видалена!</h1>
    }
    else
    {
        if (@ViewBag.Message != null)
        {
            <h1>Задачі із заданим ідентифікатором не існує.</h1>
        }
        else 
        {
            <h1>@ViewBag.Message</h1> 
        }
    }
</div>