<div id="searchresults">
    @if (ViewBag.ExistingFlag)
    {
        <p>Задача з id = @ViewBag.TaskId  була успішно видалена!</p>
    }
    else
    {
        if (@ViewBag.ErrorMessage == null)
        {
            <p>Задачі із заданим ідентифікатором не існує. Будь ласка, повторіть ввід.</p>
        }
        else
        {
            <p>@ViewBag.ErrorMessage</p>
        }
    }
</div>