<div id="searchresults">
    @if (@ViewBag.TaskId != "N/A")
    {
        <p>Задача з id = @ViewBag.TaskId  була успішно видалена!</p>
    }
    else
    {
        if (@ViewBag.Message == null)
        {
            <p>Задачі із заданим ідентифікатором не існує.</p>
        }
        else 
        {
            <p>@ViewBag.Message</p> 
        }
    }
</div>