@using PlannerTasks.WEB_MVC.Models
@model IEnumerable<StatusHistoryViewModel>

<div id="searchresults">
    <p>Історія задачі з номером : @Model.First().TaskId</p>
    <ul>
        @foreach (StatusHistoryViewModel item in Model)
        {
            string status;
            switch(@item.Status)
            {
                case 0:
                    status = "NotStarted";
                    break;
                case 1:
                    status = "OnExecution";
                    break;
                case 2:
                    status = "OnTesting";
                    break;
                case 3:
                    status = "Expired";
                    break;
                case 4:
                    status = "Done";
                    break;
                default:
                    status = "N/A";
                    break;
            }
            <li>Статус: @status Дата встановлення: @item.DateAppearOfStatus</li>
        }
    </ul>
</div>